body {
  font-family: Arial, sans-serif;
  color: #333;
}
.newpadding {
  padding-top: 50px;
  padding-bottom: 50px;
}
h1 {
  margin: 0 0 25px 0;
  font-size: 60px;
  line-height: 0.8em;
}
h2 {
  text-align: center;
  font-size: 30px;
  color: #424141;
  margin: 0 0 30px 0;
}
header {
  min-height: 323px;
  background: #424141;
  color: #fff;
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
}
header .row {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
header ul > li {
  font-size: 20px;
  line-height: 1.8em;
}
#about .row {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
#about h2 {
  text-align: left;
}
#about P {
  font-size: 16px;
  line-height: 1.5em;
}
#dignity {
  background: #eee;
  font-size: 16px;
  text-align: justify;
}
#dignity ul > li {
  padding-left: 10px;
  margin-bottom: 10px;
}
#dignity ul > li .fa-li {
  left: -39px;
  top: -9px;
  font-size: 40px;
  width: 41px;
}
#Scrinshots {
  font-size: 16px;
  text-align: justify;
}
#Scrinshots h2 {
  margin: 0;
}
#Scrinshots .scrin-wrap {
  margin-top: 30px;
  display: flex;
}
@media (max-width: 768px) {
  #Scrinshots .scrin-wrap {
    flex-direction: column-reverse;
    align-items: center;
  }
}
#Scrinshots .scrin-wrap .scrin-img {
  width: 200px;
  height: 161px;
  margin-right: 15px;
}
@media (max-width: 768px) {
  #Scrinshots .scrin-wrap .scrin-img {
    margin: 0;
  }
}
#Scrinshots .scrin-wrap h3 {
  margin: 0 0 15px 0;
}
@media (max-width: 768px) {
  #Scrinshots .scrin-wrap h3 {
    text-align: center;
  }
}
#Reviews {
  background: #eee;
}
#Reviews h2 {
  margin: 0;
}
#Reviews .revi-wrap {
  margin-top: 30px;
  display: flex;
}
@media (max-width: 768px) {
  #Reviews .revi-wrap {
    flex-direction: column;
    align-items: center;
  }
}
#Reviews .revi-wrap .revi-img {
  display: block;
  width: 75px;
  height: 75px;
  margin-right: 20px;
}
@media (max-width: 768px) {
  #Reviews .revi-wrap .revi-img {
    margin: 0 0 20px 0;
  }
}
#Reviews .revi-wrap .revi-comment {
  background: #ddd;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  line-height: 16px;
}
#Reviews .revi-wrap .revi-comment:before {
  content: '';
  position: absolute;
  top: 14px;
  left: -30px;
  border: 18px solid transparent;
  border-right: 12px solid #ddd;
}
@media (max-width: 768px) {
  #Reviews .revi-wrap .revi-comment:before {
    top: -30px;
    left: calc(50% - 17px);
    border: 18px solid transparent;
    border-bottom: 12px solid #ddd;
  }
}
#Reviews .revi-wrap .revi-comment p {
  font-style: italic;
}
#Reviews .revi-wrap .revi-comment span {
  color: #989898;
}
#Buy {
  color: #fff;
}
#Buy .buy-wrap {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 992px) {
  #Buy .buy-wrap {
    flex-direction: column;
    align-items: center;
  }
}
#Buy .buy-wrap .buy-unit {
  width: 300px;
  background: #424141;
  border-radius: 7px;
  padding: 16px 0;
}
@media (max-width: 992px) {
  #Buy .buy-wrap .buy-unit {
    width: 90%;
    margin-bottom: 25px;
  }
  #Buy .buy-wrap .buy-unit:last-child {
    margin-bottom: 0;
  }
}
#Buy .buy-wrap .buy-unit .buy-pack {
  text-align: center;
  font-size: 24px;
}
#Buy .buy-wrap .buy-unit .buy-price {
  display: block;
  margin: 16px auto 0 auto;
  width: 98%;
  background: #fff;
  color: #424141;
  text-align: center;
  font-size: 40px;
}
#Buy .buy-wrap .buy-unit .buy-desc {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}
#Buy .buy-wrap .buy-unit .buy-desc ol {
  padding-left: 20px;
}
#Buy .buy-wrap .buy-unit .buy-btn {
  margin: 16px auto 0 auto;
  width: 260px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  background: #fff;
  color: #424141;
  font-size: 18px;
  font-weight: bold;
  line-height: 38px;
}
footer {
  background: #424141;
  color: #fff;
}
footer h2 {
  color: #fff;
}
footer form input[type="text"],
footer form input[type="email"],
footer form textarea {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: none;
  margin-bottom: 21px;
  line-height: 34px;
  padding: 4px 8px;
  color: #424141;
}
footer form textarea {
  min-height: 170px;
}
footer form input[type="submit"] {
  border-radius: 5px;
  background-color: #fff;
  width: 140px;
  height: 40px;
  text-align: center;
  color: #424141;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
@media (max-width: 992px) {
  footer form input[type="submit"] {
    margin-bottom: 10px;
  }
}
footer .contacts-account {
  display: flex;
  flex-direction: column;
}
footer .contacts-account div {
  display: flex;
  align-items: center;
}
footer .contacts-account div:last-child {
  margin-bottom: 15px;
}
footer .contacts-account div i {
  line-height: 40px;
  font-size: 30px;
}
footer .contacts-account div span {
  padding-left: 10px;
}
footer .contacts-social {
  margin-left: 6px;
}
footer .contacts-social i {
  font-size: 40px;
  letter-spacing: 10px;
}
#under-footer {
  background: #fff;
}
#under-footer p {
  margin: 0;
  padding: 5px 0;
  color: #424141;
  text-align: center;
  font-size: 12px;
}
/*# sourceMappingURL=main.css.map */